.container
  .page-header
    %h1 Onefortyをはじめましょう
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .field
      = f.input :name, placeholder: 'ユーザ名', label: false
      = f.input :popular_name, placeholder: '名前', label: false
      = f.input :email, placeholder: 'メールアドレス', label: false
      = f.input :password, placeholder: 'パスワード', label: false
      = f.input :password_confirmation, placeholder: 'パスワード確認', label: false
      = f.button :submit, '新規登録', class: 'btn-info btn-block'
  = render "devise/shared/links"
