- user = tweet.user
.panel.panel-default{ id: "tweet-#{tweet.id}" }
  .panel-body
    %div
      %span= link_to "#{user.popular_name}", user_path(user.name)
      %span= link_to "@#{user.name}", user_path(user.name)
      - if current_user && current_user.id == user.id
        = link_to tweet, remote: true, method: :delete, class: 'pull-right' do
          %i.fa.fa-trash-o
    %div
      = tweet.body