.container
  .page-header
    %h2 パスワードを忘れましたか？
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .field
      = f.input :email, placeholder: 'メールアドレス', label: false, autofocus: true
    .actions
      = f.button :submit, 'パスワードリセット', class: 'btn-info btn-block'
    = render "devise/shared/links"
