!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Oneforty
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to '140', root_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to 'ユーザーズ', users_path
          = form_tag search_tweets_path, method: :get, class: 'navbar-form navbar-right' do
            .input-group
              = text_field_tag :q, nil, class: 'form-control', placeholder: '140を検索'
              %span.input-group-btn
                = button_tag class: 'btn btn-default' do
                  %i.fa.fa-search
    .container
      - if notice
        .alert.alert-warning= notice
      - if alert
        .alert.alert-danger= alert
      = yield
